{% extends 'user_template/base_template.html' %}
{% block page_title %}HOME {% endblock page_title %}
{% load static %}
{% block main_content %}

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid d-flex">
      <div class="col-md-2">
        <a href="/request_room"><img width="100" height="100" src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/100/external-hostel-summer-travel-flaticons-lineal-color-flat-icons.png" alt="external-hostel-summer-travel-flaticons-lineal-color-flat-icons"/></a>
      </div>
      <div class="col-md-2">
        <a href="/accmodation_history"><img width="100" height="100" src="https://img.icons8.com/stickers/100/activity-history.png" alt="activity-history"/></a>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  {% endblock main_content %}
  